.label {
  font-size: 14px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 12px;
  top: 12px;
  padding: 0 5px 0 5px;
  transition: 0.3s ease all;
  background-color: white;
  z-index: 1;
}
.animate-label {
  top: -10px;
  left: 12px;
  font-size: 14px;
  z-index: 1;
}
.wrapper-fields {
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
  max-width: 100%;
}